.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    background-color: white;
}



.nav-logo {
    width: 40px;

}

.nav-profile {
    width: 40px;
}

@media (max-width: 800px) {
    /* Make the navbar smaller when on mobile */
    .navbar{
        padding: 15px 30px;
    }

    
}