body {
    margin: 0;
    font-family: Lato, sans-serif;
    background-color: var(--color-background-main);
    height: 90vh;
  }
  
  #root {
    height: 90vh;
  }

  .admin{
    display: flex;
    height: 90vh;
  }

  @media (max-width: 800px) {
    .admin {
      flex-direction: column;
    }
  }
