.order-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 50px;
  margin: 30px;
  border-radius: 6px;
  background: var(--color-background-sidebar);
  max-height: 850px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
  box-shadow: 0 0 10px gray;
  height: 80vh;
}

.title{
  color: var(--color-primary);
}

hr {
  border-top: 5px ridge var(--color-primary);
  border-radius: 5px;
  width: 96%;
}

.remove-button {
  margin-top: 20px;
  width: 160px;
  height: 50px;
  border-radius: 6px;
  background: var(--color-danger);
  border: none;
  cursor: pointer;
  color: var(--color-info-light);
  font-size: 16px;
  font-weight: 500;
}

.remove-button:hover {
  filter: brightness(90%);
}

@media (max-width: 800px) {
  .order-list {
    padding: 10px 30px;
    margin: 20px auto;
  }
}

.swal2-actions .swal2-confirm {
  background-color: var(--color-danger) !important;
  color: var(--color-info-light) !important;
  border: none !important;
  box-shadow: none !important;
}