.order-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 50px;
  margin: 30px;
  border-radius: 6px;
  background: var(--color-background-sidebar);
  max-height: 850px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
  box-shadow: 0 0 10px gray;
  height: 80vh;
}

.order-item {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px gray;
  background-color: var(--color-background-card);
}

.order-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  border-radius: 12px;
  font-weight: 600;
  background-color: var(--color-primary);
  color: var(--color-info-light);
}

hr{
  border-top: 5px ridge var(--color-primary);
  border-radius: 5px;
  width: 96%;
}

.products-head{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-weight: 600;
  align-items: center;
}


.products-data{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.products-image{
  width: 40px;
  height: fit-content;
}

.order-item ul {
  list-style-type: none;
  padding: 0;
}

.order-item ul li {
  margin-left: 20px;
  margin-bottom: -10px;
}

.remove-button {
  margin-top: 20px;
  width: 160px;
  height: 50px;
  border-radius: 6px;
  background: var(--color-danger);
  border: none;
  cursor: pointer;
  color: var(--color-info-light);
  font-size: 16px;
  font-weight: 500;
}

.remove-button:hover{
  filter: brightness(90%);
}

@media (max-width: 800px) {
  .order-list {
    padding: 10px 30px;
    margin: 20px auto;
  }
}
