:root {
  margin: auto;
  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: var(--color-background-main-dark);
  --color-background-main: #c8c8c7;
  --color-background-main-dark: #121212;
  --color-text-white: #efefef;
  --color-text-black: #121212;
  --color-gradient: linear-gradient(#fbfaf9, #b9ffff);
  --color-gradient-dark: linear-gradient(#080808, #14213d);
  --color-accent: #fca211;
  
  --color-primary: #14213d;
  --shadow: #0000003d 0px 3px 8px;
  --fast-transition: 0.2s;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

p {
  font-size: 1.6em;
  line-height: 1.6;
  color: var(--color-text-white);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--color-background-main);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  a {
    color: black;
  }
  a:hover {
    color: grey;
  }
  p {
    color: var(--color-text-black);
  }
}