.list-product {
    width: 100%;
    height: 100vh;
    padding: 10px 30px 0 30px;
    margin: 30px;
    border-radius: 6px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
    max-height: 650px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-card);
}

.title{
    color: var(--color-primary);
}

tbody tr:hover td{
    background-color: var(--color-primary);
    color: var(--color-info-light);
}

tbody tr:hover .listproduct-icon{
    filter: var(--color-info-light-filter);
}

.table-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.373);
}

.listproduct-table {
    width: 100%;
    border-collapse: collapse;
    border-collapse: collapse;
}

.listproduct-table th,
.listproduct-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.listproduct-table th {
    text-align: left;
    background-color: var(--color-primary);
    color: var(--color-info-light);
    text-align: center;
}

.listproduct-table td {
    color: var(--color-info-dark);
}

.listproduct-table {
    height: 50px;
}

.listproduct-icon {
    filter: var(--color-info-dark-filter);
    cursor: pointer;
    height: 20px;
}

tr:nth-child(odd) {
    background-color: var(--color-info-light);
}

td:not(:nth-child(2)) {
    text-align: center;
}

@media (max-width: 800px) {
    .list-product {
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;
    }

    .listproduct-table th,
    .listproduct-table td {
        padding: 6px;
    }

    .listproduct-table img {
        height: 40px;
    }
}