
.product-container{
  padding: 0;
  margin: 0;
}

.banner-offer{
  height: 30px;
  padding:0;
  margin: 0;
  overflow: hidden;
}

.banner-offer-text{
  font-size:small;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}


.breadcrumb-navigation {
  font-size:xx-small;
  text-align: left;
  margin-left: 0.2rem;
}

.row {
  display: flex;
}

.column1 {
  flex: 60%;
}

.column2{
  flex:38%;
}

.pictures-container {
  display: flex;
  min-height: 60vh;
  justify-content: center;
}

.picture-carrusell {
width: 80px;
margin-right: 1rem;
}

.picture-carrusell-small {
  width: 80px;
  margin: 0.2rem;
  margin-bottom: 0.4rem;
}

.picture-main {
width: auto;
height: 100%;
max-width: 100%;
max-height: 600px;
}

.info-container {
 margin-left: 0.5rem;
}

.info-container-name{
  margin-bottom: -0.2rem;
}

.info-container-rating{
height: 30px;
margin: 0;
padding: 0;
}

.info-container-rating-text{
  font-size: medium;
  margin-left: -60px;
}

.average-rating {
  position: relative;
  appearance: none;
  color: transparent;
  width: auto;
  display: inline-block;
  vertical-align: baseline;
  font-size: medium;
}

.average-rating::before {
  --percent: calc(4.3/5*100%);
  content: '★★★★★';
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0,0,0,0.2);
  background: linear-gradient(90deg, gold var(--percent), rgb(145, 145, 145) var(--percent));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-container-price{
  display: flex;
  padding: 0;
  justify-content: center;
}

.info-container-price-before{
  text-decoration: line-through;
}

.info-container-quantity{
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-value-text{
  margin: 0 10px;
  font-size: 18px;
}

.info-container-quantity-value{
  display: flex;
  justify-content: center;
  flex-direction: column; 
}



.info-container-other{
  margin-top: 4rem;
  font-size: small;
  /* text-align: right; */
}

.description-primary{
  font-size: medium;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
}

.description-secondary-container{
  margin: auto;
  width: 90%;
  display: flex;
}

.description-secondary-text{
  font-size: small;
  text-align:justify;
  padding-right: 0.2rem;
  width: 50%;
  text-align-last: right;
}

.description-secondary-picture-cont{
  width: 50%;
}

.description-secondary-picture{
  width:auto;
  height: 100%;
}

.questions-container{
  margin-top: 3rem;
}

.questions-container-title{
  text-align: left;
}

.questions-container-item{
  text-align: left;
  margin-top: 2rem;
}

.question{
  font-size: large;
  margin: 0;
}

.answer-cont{
  display: flex;
}

.answer-div{
  display:block;
  margin: auto;
  margin-right: 3rem;
  margin-left: 1rem;
  max-width: 50%;
  min-width: 20%;
}

.answer{
  font-size: small;
  margin: 0;
}

.reviews-container{
  margin-top: 4rem;
}

.review-scale{
  scale: 2;
}